.trending-body{
    padding-top: 15px;
}

/* Trending Header */
.trending-header{
    display: flex;
    align-items: center;
    gap: 25px;
    padding-bottom: 5px;
    border-bottom: var(--border);
}
.trending-header h2{
    font-size: var(--2xl-font);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding-right: 25px;
    position: relative;
}
.trending-header div{
    border-radius: 50%;
    outline: 2px solid rgb(209, 207, 207);
    padding: 3px;
    height: 30px;
    width: 30px;
}
.trending-header div span{
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: var(--blue-light);
    border-radius: 50%;
    height: 24px;
    width: 24px;
}




/* ============== trending-body  ================= */
.trending-body-inner{
    padding: 25px 0;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.offer-product{
    width: 29%;
}
.offer-product-inner{
    width: 90%;
    border: 2px solid black;
    padding:40px 25px;
    border-radius: 10px;
}
.offer-time-title h4{
    text-align: center;
    padding-bottom: 10px;
    font-weight: 500;
}
.offer-time-item.flex-center{
    gap: 10px !important;
}
.time{
    width: 40px;
    padding: 6px 7px;
    border-radius: 5px;
    background-color: var(--white-medium);
    text-align: center;
    font-weight: 500;
}

.product{
    padding: 10px;
    overflow: hidden;
}
/* offer-product-image */
.offer-product-image {
    position: relative;
}
 .offer-product-image  img{
    height:380px;
}
.offer-product-image .love-icon,.discount,.product-icon{
    background-color:wheat;
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
    cursor: pointer;
    position: absolute;
}
.offer-product-image .love-icon{
    top: 10px;
    right: 10px;
}
.love-icon i{
    font-size: var(--md-font);
}
.love-icon:hover,.discount:hover,.product-icon:hover{
    background-color: var(--navy-color);
    color: white;
}
.discount{
    bottom: 10px;
    right: 10px;
    background-color: var(--orange-color);
    color: white;
}


/* hide-icons */
.hide-icons{
    position:absolute;
    top: 80px;
    right: 55px;
    transition: .5s linear;
}


.hide-icons .icon-1{
    transform: translateX(50px);
    transition: .25s linear;
    opacity: 0;
}
.product:hover .hide-icons .icon-1{
    transform: translateX(0px);
    opacity: 1;
}
.hide-icons .icon-2{
    transform: translateX(50px);
    transition:.25s linear;
    transition-delay: .1s;
    opacity: 0;
}
.product:hover .hide-icons .icon-2{
    transform: translateX(0px);
    opacity: 1;
}

.icon-2{
    top: 60px;
}


/* rating start here */
.rating.flex-center{
    justify-content: flex-start;
}
.rating a i{
    color: orange;
    font-size: 18px;
}
.rating p{
    color: var(--orange-color);
    font-size: 14px;
}


/* item-price */
.item-price.flex-center{
    justify-content: flex-start;
    color: var(--orange-color);
}
.new-price big{
    font-size: var(--lg-font);
    font-weight: 600;
}
.old-price sub{
    text-decoration: line-through;
    font-size: 14px;
}



/* sold-sotck */
.sold-sotck{
    color: var(--orange-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sold-sotck span{
    font-weight: 500;
}



/* range */
.range{
    width: 100%;
    background-color: var(--orange-color);
    height: 3px;
}
.range div{
    width: 34%;
    background-color: rgb(112, 28, 190);
    height: 100%;
}




/* ===========  .trending-products  =========== */
.trending-products{
    width: 70%;
}
.trending-products-inner{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap:35px;
    column-gap: 30px;
}
.trending-products-inner .product{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 0;
    /* border: 1px solid orange; */
}


.trending-products-inner .offer-product-image img{
    height: 250px;
}
.trending-products-inner .offer-product-title h2{
    font-size: var(--md-font);
    font-weight: 500;
}
.trending-product-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding-right: 3px;
}






/* ===========  Featured Products Start Here  =============== */
#feature{
    background-color: #fffcf8;
    padding: 25px 0;
}
.featured-products{
    margin: 80px 0;
}
.all-featured-products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    row-gap: 50px;
}

.featured-product{
    position: relative;
    padding: 10px;
}
.top-bottom{
    /* padding: 10px; */
}
.top-bottom::after,.top-bottom::before{
    content: '';
    position: absolute;
    background-color: rgba(185, 185, 250, 0.63);
    height: 3px;
    transition: all .15s linear;
    width: 0px;
}

.top-bottom::after{
    left: 50%;
    top: 2px;
}
.top-bottom::before{
    right: 50%;
    bottom: 0;
}
.featured-product:hover .top-bottom::before{
    width: 100%;
    right: 0;
    /* transition-delay: .05s; */
    transition: .2s;
}
.featured-product:hover .top-bottom::after{
    width: 100%;
    left: 0;
    transition-delay: 0.05s;
}
.featured-product::after,.featured-product::before{
    content: '';
    position: absolute;
    background-color: rgba(185, 185, 250, 0.63);
    height: 0px;
    transition: all .2s linear;
    width: 3px;
}
.featured-product::after{
    left: 0;
    top: 50%;
}
.featured-product:hover::after{
    height: 100%;
    top: 0;
}
.featured-product::before{
    right: 0;
    top:50%;
    /* transition-delay: .48s; */
}
.featured-product:hover::before{
    right: 0;
    height: 100%;
    top:0
    /* transition: all linear .2s; */
}
.featured-product:hover{
    /* outline: 1px solid rgba(129, 129, 241, 0.562); */
    border-radius: 10px;
}
.featured-product h2{
    font-size: var(--md-font);
}